:root {
    --inventory-color: rgb(255, 152, 0);
    --inventory-holder-color: rgb(80, 80, 80);
    --gui-standard-color: rgba(45, 45, 52, 0.83);
}

body {
    display: flex;
    flex: auto;
    justify-content: flex-start;
    flex-flow: row;
    align-items: flex-start;
    overflow: hidden;
    background-color: black !important;
}

button, img {
    user-select: none;
}

.mainArea {
    padding: 16px;
}

.subArea {
    padding-top: 8px;
    padding-bottom: 8px;
}

#guiHolder {
    position: absolute;
    z-index: 6;
    width: 760px;
    height: 800px;
    left: calc(50% - 320px);
    top: calc(50% - 400px);
    pointer-events: none;
    user-select: none;
}

#guiHolder div {
    pointer-events: all;
}

#smallDialogBoxHolder {
    position: absolute;
    z-index: 6;
    width: 40%;
    height: 30%;
    left: 30%;
    top: 35.5%;
    visibility: hidden;
}

#smallDialogBoxHolder .draggableBar {
    height: 27px !important;
}

.smallDialogBox {
    width: calc(100% - 24px);
    padding: 12px;
    height: calc(80% - 6px);
    background-color: var(--gui-standard-color);
}

#smallTextArea {
    display: flex;
    background-color: #c1cbe0;
    height: 77%;
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#smallTextArea span {
    padding: 6px;
    width: calc(100% - 12px);
    white-space: pre;
    user-select: none;
}

#smallAmountArea {
    position: absolute;
    left: calc(50% - 84px);
    width: 160px;
    top: 154px;
    height: 20px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {  
    appearance: none;
}

.cancelButton {
    background-color: rgb(244,67,54) !important;
    float: left;
}

.proceedButton {
    background: rgb(76,175,80) !important;
    float: right;
}

#shopHolder {
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

#equipmentHolder {
    position: absolute;
    z-index: 4;
    height: 50%;
    width: 52%;
    visibility: hidden;
}

#statsEntireHolder {
    position: absolute;
    width: 380px;
    height: 560px;
    background-color: var(--inventory-holder-color);
    border-radius: 6px;
    top: -582px;
    left: 16px;
    z-index: 1;
}

#statsArea {
    position: absolute;
    display: flex;
    width: 412px;
    top: -10px;
    flex-shrink: 0;
}

.infoRow .infoRow, .infoRow .infoColumn {
    position: relative;
    padding: 0px;
}

.infoColumn {
    position: absolute;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.infoRow {
    position: absolute;
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#coreStats {
    width: 200px;
}

#subStats {
    top: 161px;
    width: calc(100% - 32px);
}

#charStats {
    top: 275px;
    width: 200px;
}

#etcStats {
    top: 420px;
    width: 200px;
}

#AParea {
    top: 16px;
    right: 20px;
    width: 160px;
}

.statHolder {
    display: flex;
    height: 28px;
    width: calc(100% - 8px);
    margin-left: 4px;
    margin-right: 4px;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg, rgb(169 255 230) 2%, rgb(218 255 128) 50%, rgba(255,255,255,1) 55%);
    border-radius: 14px;
}

.statName {
    display: inline-flex;
    height: 100%;
    width: 60px;
    padding-left: 14px;
    align-items: center;
    cursor: default;
    user-select: none;
}

.statAmountWrapper {
    display: flex;
    position: relative;
    height: 100%;
    margin-right: 14px;
    border-left: 1px solid black;
    flex-direction: column;
    place-content: center;
    flex: 1;
    background-color: white;
}

.statAmount {
    position: absolute;
    width: calc(100% - 12px);
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    vertical-align: middle;
    text-align: left;
}

.statButton {
    position: absolute !important;
    right: 4px !important;
    height: 28px !important;
    min-width: 28px !important;
    width: 28px !important;
}

.statButton:disabled {
    background-color: rgb(232 232 232) !important;
}

.statButton:enabled {
    background-color: rgb(239 214 144) !important;
}

#equipmentButtonArea {
    position: relative;
    display: flex;
    width: 158px;
    height: 200px;
    top: 300px;
    left: 220px;
    justify-content: center;
    align-items: center;
}

#statsButtonArea {
    position: absolute;
    border-top: solid var(--inventory-holder-color);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
    left: 16px;
}

@keyframes openTheStatsPanel {
    from {top: -10px;}
    to {top: 600px;}
}

.stats-opening {
    animation: 400ms ease-out openTheStatsPanel;
}

.stats-open {
    top: 600px !important;
}

@keyframes closeTheStatsPanel {
    from {top: 600px;}
    to {top: -10px;}
}

.stats-closing {
    animation: 400ms ease-out closeTheStatsPanel;
}

#avatarArea {
    display: flex;
    align-items: center;
    height: 96px;
}

#someGuiButtons {
    display: flex;
    position: absolute;
    top: 800px;
    left: 780px;
}

@media only screen and (min-width: 1080px) {
    #gameArea {
        position: absolute;
        user-select: none;
        left: calc(50% - 540px);
    }
}

@media only screen and (max-width: 1079px) {
    #gameArea {
        position: absolute;
        user-select: none;
    }
}

.portal {
    position: absolute;
}

#lootArea {
    position: relative;
    width: 1080px;
    height: 944px;
    background-image: url(/files/terrainv2.png);
}

#lootBlocker {
    display: inline-block;
    margin-top: 716px;
    border-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

#mobArea {
    display: flex;
    position: relative;
    place-content: center;
    pointer-events: none;
    height: 50px;
    width: 100%;
}

.mob {
    position: absolute;
    pointer-events: all;
    bottom: 0px;
    opacity: 1;
}

.mobDying {
    transition-property: opacity;
    opacity: 0;
}

#mobHPArea {
    pointer-events: none;
    text-align: center;
    margin-top: 28px;
}

#mobHP {
    color: white;
    font-size: 32px;
}

@keyframes dropAnimation {
    1% {
    transform: translateY(-2.54px) rotate(14.4deg);
    }
    2% {
        transform: translateY(-5.11px) rotate(28.8deg);
    }
    3% {
        transform: translateY(-7.72px) rotate(43.2deg);
    }
    4% {
        transform: translateY(-10.35px) rotate(57.6deg);
    }
    5% {
        transform: translateY(-13.01px) rotate(72.0deg);
    }
    6% {
        transform: translateY(-15.68px) rotate(86.4deg);
    }
    7% {
        transform: translateY(-18.38px) rotate(100.8deg);
    }
    8% {
        transform: translateY(-21.09px) rotate(115.2deg);
    }
    9% {
        transform: translateY(-23.8px) rotate(129.6deg);
    }
    10% {
        transform: translateY(-26.53px) rotate(144.0deg);
    }
    11% {
        transform: translateY(-29.26px) rotate(158.4deg);
    }
    12% {
        transform: translateY(-31.98px) rotate(172.8deg);
    }
    13% {
        transform: translateY(-34.7px) rotate(187.2deg);
    }
    14% {
        transform: translateY(-37.42px) rotate(201.6deg);
    }
    15% {
        transform: translateY(-40.12px) rotate(216.0deg);
    }
    16% {
        transform: translateY(-42.81px) rotate(230.4deg);
    }
    17% {
        transform: translateY(-45.48px) rotate(244.8deg);
    }
    18% {
        transform: translateY(-48.13px) rotate(259.2deg);
    }
    19% {
        transform: translateY(-50.75px) rotate(273.6deg);
    }
    20% {
        transform: translateY(-53.34px) rotate(288.0deg);
    }
    21% {
        transform: translateY(-55.9px) rotate(302.4deg);
    }
    22% {
        transform: translateY(-58.43px) rotate(316.8deg);
    }
    23% {
        transform: translateY(-60.91px) rotate(331.2deg);
    }
    24% {
        transform: translateY(-63.36px) rotate(345.6deg);
    }
    25% {
        transform: translateY(-65.75px) rotate(360.0deg);
    }
    26% {
        transform: translateY(-68.09px) rotate(374.4deg);
    }
    27% {
        transform: translateY(-70.38px) rotate(388.8deg);
    }
    28% {
        transform: translateY(-72.62px) rotate(403.2deg);
    }
    29% {
        transform: translateY(-74.79px) rotate(417.6deg);
    }
    30% {
        transform: translateY(-76.9px) rotate(432.0deg);
    }
    31% {
        transform: translateY(-78.93px) rotate(446.4deg);
    }
    32% {
        transform: translateY(-80.9px) rotate(460.8deg);
    }
    33% {
        transform: translateY(-82.79px) rotate(475.2deg);
    }
    34% {
        transform: translateY(-84.61px) rotate(489.6deg);
    }
    35% {
        transform: translateY(-86.34px) rotate(504.0deg);
    }
    36% {
        transform: translateY(-87.98px) rotate(518.4deg);
    }
    37% {
        transform: translateY(-89.54px) rotate(532.8deg);
    }
    38% {
        transform: translateY(-91.0px) rotate(547.2deg);
    }
    39% {
        transform: translateY(-92.37px) rotate(561.6deg);
    }
    40% {
        transform: translateY(-93.63px) rotate(576.0deg);
    }
    41% {
        transform: translateY(-94.79px) rotate(590.4deg);
    }
    42% {
        transform: translateY(-95.85px) rotate(604.8deg);
    }
    43% {
        transform: translateY(-96.79px) rotate(619.2deg);
    }
    44% {
        transform: translateY(-97.62px) rotate(633.6deg);
    }
    45% {
        transform: translateY(-98.33px) rotate(648.0deg);
    }
    46% {
        transform: translateY(-98.92px) rotate(662.4deg);
    }
    47% {
        transform: translateY(-99.39px) rotate(676.8deg);
    }
    48% {
        transform: translateY(-99.73px) rotate(691.2deg);
    }
    49% {
        transform: translateY(-99.93px) rotate(705.6deg);
    }
    50% {
        transform: translateY(-100.0px) rotate(720.0deg);
    }
    51% {
        transform: translateY(-99.93px) rotate(734.4deg);
    }
    52% {
        transform: translateY(-99.73px) rotate(748.8deg);
    }
    53% {
        transform: translateY(-99.39px) rotate(763.2deg);
    }
    54% {
        transform: translateY(-98.92px) rotate(777.6deg);
    }
    55% {
        transform: translateY(-98.33px) rotate(792.0deg);
    }
    56% {
        transform: translateY(-97.62px) rotate(806.4deg);
    }
    57% {
        transform: translateY(-96.79px) rotate(820.8deg);
    }
    58% {
        transform: translateY(-95.85px) rotate(835.2deg);
    }
    59% {
        transform: translateY(-94.79px) rotate(849.6deg);
    }
    60% {
        transform: translateY(-93.63px) rotate(864.0deg);
    }
    61% {
        transform: translateY(-92.37px) rotate(878.4deg);
    }
    62% {
        transform: translateY(-91.0px) rotate(892.8deg);
    }
    63% {
        transform: translateY(-89.54px) rotate(907.2deg);
    }
    64% {
        transform: translateY(-87.98px) rotate(921.6deg);
    }
    65% {
        transform: translateY(-86.34px) rotate(936.0deg);
    }
    66% {
        transform: translateY(-84.61px) rotate(950.4deg);
    }
    67% {
        transform: translateY(-82.79px) rotate(964.8deg);
    }
    68% {
        transform: translateY(-80.9px) rotate(979.2deg);
    }
    69% {
        transform: translateY(-78.93px) rotate(993.6deg);
    }
    70% {
        transform: translateY(-76.9px) rotate(1008.0deg);
    }
    71% {
        transform: translateY(-74.79px) rotate(1022.4deg);
    }
    72% {
        transform: translateY(-72.62px) rotate(1036.8deg);
    }
    73% {
        transform: translateY(-70.38px) rotate(1051.2deg);
    }
    74% {
        transform: translateY(-68.09px) rotate(1065.6deg);
    }
    75% {
        transform: translateY(-65.75px) rotate(1080.0deg);
    }
    76% {
        transform: translateY(-63.36px) rotate(1094.4deg);
    }
    77% {
        transform: translateY(-60.91px) rotate(1108.8deg);
    }
    78% {
        transform: translateY(-58.43px) rotate(1123.2deg);
    }
    79% {
        transform: translateY(-55.9px) rotate(1137.6deg);
    }
    80% {
        transform: translateY(-53.34px) rotate(1152.0deg);
    }
    81% {
        transform: translateY(-50.75px) rotate(1166.4deg);
    }
    82% {
        transform: translateY(-48.13px) rotate(1180.8deg);
    }
    83% {
        transform: translateY(-45.48px) rotate(1195.2deg);
    }
    84% {
        transform: translateY(-42.81px) rotate(1209.6deg);
    }
    85% {
        transform: translateY(-40.12px) rotate(1224.0deg);
    }
    86% {
        transform: translateY(-37.42px) rotate(1238.4deg);
    }
    87% {
        transform: translateY(-34.7px) rotate(1252.8deg);
    }
    88% {
        transform: translateY(-31.98px) rotate(1267.2deg);
    }
    89% {
        transform: translateY(-29.26px) rotate(1281.6deg);
    }
    90% {
        transform: translateY(-26.53px) rotate(1296.0deg);
    }
    91% {
        transform: translateY(-23.8px) rotate(1310.4deg);
    }
    92% {
        transform: translateY(-21.09px) rotate(1324.8deg);
    }
    93% {
        transform: translateY(-18.38px) rotate(1339.2deg);
    }
    94% {
        transform: translateY(-15.68px) rotate(1353.6deg);
    }
    95% {
        transform: translateY(-13.01px) rotate(1368.0deg);
    }
    96% {
        transform: translateY(-10.35px) rotate(1382.4deg);
    }
    97% {
        transform: translateY(-7.72px) rotate(1396.8deg);
    }
    98% {
        transform: translateY(-5.11px) rotate(1411.2deg);
    }
    99% {
        transform: translateY(-2.54px) rotate(1425.6deg);
    }
    100% {
        transform: translateY(0px) rotate(1440deg);
    }
}

@keyframes hovering {
    0% {
        transform: translateY(0px);
        animation-timing-function: ease-in-out;
    }
    50% {
        transform: translateY(-6px);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateY(0px);
        animation-timing-function: ease-in;
    }
}

@keyframes pickUp {
    0% {
        transform: translateY(0px);
        animation-timing-function: ease-in-out;
    }
    50% {
        transform: translateY(-42px);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateY(20px);
        animation-timing-function: ease-in;
    }
}

@keyframes pickUpFade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}

.pickupAnimation {
    pointer-events: none;
    animation-name: pickUpFade;
    animation-timing-function: linear;
    animation-duration: 1020ms;
    opacity: 0;
}

.pickupAnimationHelper {
    pointer-events: none;
    display: inline-block;
    animation-name: pickUp;
    animation-timing-function: linear;
    animation-duration: 1020ms;
}

.itemAnimationHelper {
    pointer-events: all;
    display: inline-block;
    animation: 1224ms dropAnimation;
}

.droppedItem {
    pointer-events: all;
    animation-name: hovering;
    animation-timing-function: linear;
    animation-duration: 1732ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

.dropAligner {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    height: 50px;
}

.easyList {
    display: flex;
    border: 1px solid black;
    margin: 6px;
    padding: 2px;
    flex-direction: column;
    text-align: center;
    height: 80px;
    width: calc(100% - 16px);
    overflow-y: auto;
}

.easyItem:hover {
    background-color: rgb(220, 224, 255);
}

.easySelected {
    background-color: rgb(190,190,255) !important;
}

#shopButtonArea {
    margin:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 120px;
    min-height: 126px;
}

#storageButtonArea {
    margin:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 120px;
    min-height: 126px;
}

.guiOpeningButton {
    border: 1px solid black;
    border-radius: 6px;
    background-color: #969696;
    background: linear-gradient(#969696, #2b2b2b);
    -webkit-user-drag: none;
}

.checkerBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, rgb(140 140 140 / 20%) 25%, transparent 25%, transparent 75%, rgb(140 140 140 / 20%) 75%, rgb(140 140 140 / 20%) 0), linear-gradient(45deg, rgb(140 140 140 / 20%) 25%, transparent 25%, transparent 75%, rgb(140 140 140 / 20%) 75%, rgb(140 140 140 / 20%) 0);
    background-position: 0px 0, 5px 5px;
    background-size: 10px 10px, 10px 10px;
}

.guiOpeningButton img {
    z-index: 0;
    -webkit-user-drag: none;
}

#shopButtonArea img {
    width: 88px;
    height: 93px;
}

.draggableBar {
    background: linear-gradient(to top, rgba(0,0,0, 0.83), var(--gui-standard-color));
    width: calc(100% - 6px);
    height: 24px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-color: rgba(0,0,0,0);
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    background-origin: border-box;
}

.guiInnerContentArea {
    position: relative;
    background-color: var(--gui-standard-color);
    width: calc(100% - 48px);
    height: calc(97% - 51px);
    padding: 24px;
}

.shopMerchantImage {
    transform: scaleX(-1);
    left: 8px;
    -webkit-user-drag: none;
}

.shopItemArea {
    position: absolute;
    top: 140px;
    width: 45%;
    height: 72%;
    overflow-y: auto;
    background-color: rgb(165, 188, 208);
}

.shopItemArea div:last-child {
    border: none;
}

.itemCard {
    position: relative;
    display: flex;
    align-items: center;
    height: 54px;
    width: calc(100% - 16px);
    padding: 4px 12px 4px 4px;
    border-bottom: 1px solid black;
    user-select: none;
}

.itemCardImageArea {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 47px;
    width: 47px;
}

.itemCardName {
    position: absolute;
    left: 60px;
    top: 6px;
}

.itemCardPriceCoin {
    position: absolute;
    bottom: 5px;
    left: 60px;
}

.itemCardPrice {
    position: absolute;
    left: 98px;
    bottom: 10px;
}

#doubloonsInShop {
    position: absolute;
    top: 24px;
    right: 24px;
}

.doubloonsHolder {
    background: linear-gradient(to top, rgb(137, 110, 255), rgb(181, 165, 255));
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 1px;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    padding: 1px 8px 1px 2px;
    width: 120px;
}

.doubloonsHolder img {
    -webkit-user-drag: none;
}

.doubloonsHolder span {
    right: 10px;
}

.closeButton {
    position: absolute;
    right: 24px;
    top: 60px;
    background: linear-gradient(to top, rgb(135, 153, 255), rgb(187, 228, 255));
    border-width: 1px;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    padding: 2px 8px 2px 8px;
}

.sellArea {
    right: 24px;
    background-image: url(/files/sell_background.png);
    background-repeat: no-repeat;
    background-position: center;
}

.beforeSellText1 {
    pointer-events: none;
    position: absolute;
    top: 454px;
    left: 49px;
}

.beforeSellText2 {
    pointer-events: none;
    position: absolute;
    top: 85%;
    left: 20%;
}

#inventoryArea {
    position: absolute;
    top: -10px;
    left: 790px;
    display: flex;
    flex-shrink: 0;
    width: 280px;
}

#moreInventoryButtonsArea {
    background-color: var(--inventory-holder-color);
    height: 44px;
    display: flex;
    flex-direction: row;
}

.subTab {
    color: #FFF;
    line-height: 44px;
    vertical-align: middle;
    text-align: center;
    flex: 1;
    font-weight: bold;
}

.subTabFocused {
    background-color: rgb(48,48,48);
    border: 1px solid rgb(60,60,60);
    line-height: 42px;
}

.deprecatedSubTab {
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    cursor: pointer;
    fill: var(--inventory-holder-color);
}

@keyframes blinkTab {
    0% {
        background-color: var(--inventory-holder-color);
    }
    50% {
        background-color: #7b7b7b;
    }
    100% {
        background-color: var(--inventory-holder-color);
    }
}

.highlightedTab {
    animation: 630ms linear infinite blinkTab;
}

.inventoryButtonHolder {
    width: 61px;
}

#inventoryDividerLine {
    border: 3.5px solid var(--inventory-holder-color);
    background-color: var(--inventory-holder-color);
    height: 0px;
    margin: 0px 0px 9px 0px;
}

#slotsSpot {
    display: table;
    table-layout: fixed;
    border-spacing: 3px;
    margin: 5px;
    background-color: #FFFFFF;
}

#equipmentSlotsArea {
    display: table;
    table-layout: fixed;
    background-color: #CCCCCC;
    padding: 16px;
    border-radius: 8px;
}

.disabledSlot {
    background: rgba(0,0,0,0) !important;
}

.slot {
    position: relative;
    background-image: url("/files/slotSTOLEN.png");
    width: 47px;
    height: 47px;
    vertical-align: middle;
    text-align: center;
}

.equipmentSlot {
    position: relative;
    background-image: url("/files/equipslot.png");
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

.emptyEquipmentSlot {
    vertical-align: top !important;
    text-align: left !important;
    overflow-wrap: break-word;
}

.slotRestrictionHelper {
    position: absolute;
    left: 3px;
    top: 4px;
    color: gainsboro;
    font-size: 8px;
    pointer-events: none;
}

.highlightedSlot {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 0px;
    top: 0px;
    pointer-events: none;
}

.itemCount {
    pointer-events: none;
    position: absolute;
    left: 1px;
    bottom: 1px;
}

.numberText {
    font-size: 16px;
    color: white;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

@keyframes openTheInventory {
    from {top: -10px;}
    to {top: 400px;}
}

.inventory-opening {
    animation: 400ms ease-out openTheInventory;
}

.inventory-open {
    top: 400px !important;
}

@keyframes closeTheInventory {
    from {top: 400px;}
    to {top: -10px;}
}

.inventory-closing {
    animation: 400ms ease-out closeTheInventory;
}

#inventoryHolder {
    position: absolute;
    top: -390px;
    width: 100%;
    height: 400px;
    background-color: var(--inventory-holder-color);
    border-radius: 6px;
    box-shadow: -10px 0 15px -15px inset, 16px 0 13px -20px inset;
}

#mainInventory {
    position: relative;
    margin: 8px;
    background-color: var(--inventory-color);
    height: 384px;
    width: 264px;
}

#inventoryButtonArea {
    border-top: solid var(--inventory-holder-color);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
}

.inventoryButtonGlowHolder {
    width: 146px;
    height: 40px;
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.32));
}

.tab {
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    cursor: pointer;
    fill: var(--inventory-holder-color);
}

.tab-text {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
}

.holder {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 280px;
    z-index: -1;
}

.tab-outline-helper {
    z-index: -1;
    padding-bottom: 4px;
    width: 106px;
    height: 40px;
    background: linear-gradient(to bottom, #A4A4A4 90%, #BBBBBB 92%, #CCCCCC 93%, #FFFFFF 95%);
}

#etcDeveloperStuff {
    position: absolute;
    top: 960px;
    left: 600px;
    padding: 8px;
    height: 400px;
    width: 400px;
    background-color: white;
}

.textTightContainer {
    display: flex;
    justify-items: center;
    width: 160px;
    height: 40px;
    margin: 6px;
    padding: 3px;
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
    justify-content: center;
}

.textTightContainer input {
    padding: 8px;
    padding-right: 0px;
    width: 100%;
}

.textTooltip {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    max-width: 140px;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--inventory-holder-color);
    color: white;
    padding: 8px;
}

.itemHolder {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.itemTooltip {
    position: fixed;
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 8;
    min-width: 200px;
    visibility: hidden;
    background-color: var(--gui-standard-color);
    padding: 20px;
    padding-bottom: 36px;
    pointer-events: none;
    white-space: nowrap;
}

.tooltipName {
    width: 100%;
    font-size: 18px;
    text-align: left;
    color: #b0ff9c;
}

.tooltipTopArea {
    display: flex;
    margin-top: 6px;
    padding-left: 8px;
}

.tooltipTopArea div {
    position: relative;
    align-self: flex-end;
    font-size: 12px;
    margin-left: 8px;
    bottom: -6px;
    color: #f38e8e;
}

.tooltipBottomArea {
    text-align: left;
    padding-top: 8px;
}

.tooltipStatsTextArea {
    margin-inline-start: 12px;
}

.craftedStat {
    color: #bfffff;
}

#dataMakerArea {
    display: flex;
    position: absolute;
    padding: 8px;
    top: 1400px;
    left: 200px;
    background-color: rgb(214, 214, 214);
    width: 70%;
    height: 300px;
}

#makerSelectorsArea {
    display: flex;
    width: 320px;
    height: 99px;
    flex-direction: column;
}

#makerSelectorsArea select {
    width: calc(100% - 16px);
}

#makerSelectorsArea .chosen-container {
    margin: 4px;
}

#makerMainCategory {
    height: 100px;
}

#makerVisual {
    display: flex;
    flex: none;
    justify-content: center;
    margin: 6px;
    height: 184px;
    border: 1px solid black;
}

#makerVisual img {
    place-self: center;
}

#makerDataArea {
    width: 350px;
    position: relative;
    top: 1px;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}

#makerDataArea span {
    display: inline-block;
    padding-right: 10px;
}

.makerEditorLinkedDataTable {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

.makerEditorLinkedData {
    padding-left: 8px;
    padding-bottom: 4px;
}

.clickable {
    cursor: pointer;
}

.selectedThing {
    background-color: #66a1d4  !important;
}

#superBlocker {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: repeating-linear-gradient(45deg,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2) 8px,
    rgba(0,0,0,0.25) 4px,
    rgba(0,0,0,0.25) 12px);
    visibility: hidden;
    pointer-events: none;
}

.fadeToBlack {
    animation: 360ms linear loadingFade;
}

.unfadeToBlack {
    animation: 650ms linear loadingUnfade;
}

@keyframes loadingFade {
    0% {background: rgba(0,0,0, 0);}
    70% {background: rgba(0,0,0, 1);}
}

@keyframes loadingUnfade {
    30% {background: rgba(0,0,0, 1);}
    100% {background: rgba(0,0,0, 0);}
}

#draggedItemHolder {
    pointer-events: none;
    z-index: 7;
    position: absolute;
    backface-visibility: hidden;
    visibility: hidden;
}

#temporaryButtons {
    position: absolute;
    width: 340px;
    top: 960px;
    background-color: white;
}